<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div id="app">
        <img @mouseover="toggleShowPrices" @mouseout="toggleShowPrices" v-bind:src="img" v-bind:alt="name" height="50">
        <h1 v-bind:class="changePercent > 0 ? 'green' : 'red'">
            {{name}}
            <span v-if="changePercent > 0">Bien!</span>
            <span v-else="changePercent < 0">Mal :(</span>
            <span v-on:click="toggleShowPrices">{{showPrices ? 'True':'False'}}</span>
        </h1>

        <ul v-show=showPrices>
            <li
            class="uppercase" 
            v-bind:class="{orange: p.value == price, red: p.value < price,green:p.value>price}"
            v-for="(p,i) in pricesWithDays" 
            v-bind:key="p.day">
                {{i}} - {{p.day}} - {{p.value}}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>