<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>

<body>
    <div id="app">

        <h1>Mis Lista de Cursos</h1>
        <p>
            <span>Titulo del curso</span>
            <input type="text" v-model="title"><br>
        </p>
        <p>
            <span>Cantidad de Horas</span>
            <input type="number" v-model="time">
        </p>
        <button v-on:click="addCourse">Guardar Registro</button>
        <h3>Lista de Cursos</h3>
        <p v-show="courses.length==0">Aun no hay cursos realizados</p>
        <ul>
            <li v-for="course in courses">{{course.title}}-{{course.time}}hrs</li>
        </ul>
        <hr>
        <h4>Total de Horas</h4>
        <span>{{totalTime}}</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>